  <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light top-nav">
    <a class="navbar-brand" href="#">Meal Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to("Home", root_path, { class: "nav-link" }) %>
        </li>
        <li class="nav-item">
          <%= link_to("Ingredients", ingredients_path, { class: "nav-link" }) %>
        </li>
      </ul>
      <span class="navbar-text">
        <i class="fa fa-user"></i>
        <% if user_signed_in? %>
          <%=
            user_link_text = " #{current_user.name}"
            link_to(user_link_text, edit_user_registration_path)
          %>
          <%= 
            sign_out_text = content_tag(:i, "", class: "fa fa-sign-out-alt")
            link_to(sign_out_text, destroy_user_session_path, method: :delete)
          %>
        <% else %>
          <%= link_to("Sign up", new_user_registration_path) %> | <%= link_to("Sign in", new_user_session_path) %>
        <% end %>
      </span>
    </div>
  </nav>

